<h4>

{{#if is_interface}}
    Interface {{moduleName}}
{{else}}
    Class {{moduleName}}
{{/if}}

{{#if extends}}
    <br>
    <span style="font-weight:bold;color:rgb(53,109,228);" class="crosslink">extends: </span>{{#crossLink extends}}{{/crossLink}}
{{/if}}

</h4>


{{#if uses}}
    Uses:
    {{#each uses}}
        <a href="{{this}}.html">{{this}}</a>
    {{/each}}
    <br>
{{/if}}
{{#if extension_for}}
    Extension For:
    {{#each extension_for}}
        <a href="{{this}}.html">{{this}}</a>
    {{/each}}
    <br>
{{/if}}

<div class="intro">{{{classDescription}}}</div>


{{#if is_constructor}}
    {{#is_constructor}}
    {{>method}}
    {{/is_constructor}}
{{/if}}

<div id="classdocs">
    <ul>
        {{#if methods}}
        <li><a href="#methods">Methods</a></li>
        {{/if}}
        {{#if properties}}
        <li><a href="#props">Properties</a></li>
        {{/if}}
        {{#if attrs}}
        <li><a href="#attrs">Attributes</a></li>
        {{/if}}
        {{#if events}}
        <li><a href="#events">Events</a></li>
        {{/if}}

        <li><a href="#index">Index</a></li>
    </ul>
    <div>
        {{#if methods}}
            <div id="methods">
            {{#methods}}
                {{>method}}
            {{/methods}}
            </div>
        {{/if}}
        {{#if properties}}
            <div id="props">
            {{#properties}}
                {{>props}}
            {{/properties}}
            </div>
        {{/if}}
        {{#if attrs}}
            <div id="attrs">
            {{#attrs}}
                {{>attrs}}
            {{/attrs}}
            </div>
        {{/if}}
        {{#if events}}
            <div id="events">
            {{#events}}
                {{>events}}
            {{/events}}
            </div>
        {{/if}}
    
        <div id="index">

            {{#if methods}}
                <div class="index-section methods">
                    <h3>Methods</h3>

                    <ul class="index-list methods{{#if extends}} extends{{/if}}">
                        {{#methods}}
                            <li class="index-item method{{#if access}} {{access}}{{/if}}{{#if deprecated}} deprecated{{/if}}{{#if overwritten_from}} inherited{{/if}}{{#if extended_from}} inherited{{/if}}">
                                <a href="{{../projectRoot}}classes/{{class}}.html#method_{{name}}">{{name}}</a>

                                {{#if static}}
                                    <span class="flag static">static</span>
                                {{/if}}
                                {{#if deprecated}}
                                    <span class="flag deprecated">deprecated</span>
                                {{/if}}
                            </li>
                        {{/methods}}
                    </ul>
                </div>
            {{/if}}

            {{#if properties}}
                <div class="index-section properties">
                    <h3>Properties</h3>

                    <ul class="index-list properties{{#if extends}} extends{{/if}}">
                        {{#properties}}
                            <li class="index-item property{{#if access}} {{access}}{{/if}}{{#if deprecated}} deprecated{{/if}}{{#if overwritten_from}} inherited{{/if}}{{#if extended_from}} inherited{{/if}}">
                                <a href="#property_{{name}}">{{name}}</a>

                                {{#if static}}
                                    <span class="flag static">static</span>
                                {{/if}}
                                {{#if deprecated}}
                                    <span class="flag deprecated">deprecated</span>
                                {{/if}}
                            </li>
                        {{/properties}}
                    </ul>
                </div>
            {{/if}}

            {{#if attrs}}
                <div class="index-section attrs">
                    <h3>Attributes</h3>

                    <ul class="index-list attrs{{#if extends}} extends{{/if}}">
                        {{#attrs}}
                            <li class="index-item attr{{#if access}} {{access}}{{/if}}{{#if deprecated}} deprecated{{/if}}{{#if overwritten_from}} inherited{{/if}}{{#if extended_from}} inherited{{/if}}">
                                <a href="#attr_{{name}}">{{name}}</a>
                            </li>
                        {{/attrs}}
                    </ul>
                </div>
            {{/if}}

            {{#if events}}
                <div class="index-section events">
                    <h3>Events</h3>

                    <ul class="index-list events{{#if extends}} extends{{/if}}">
                        {{#events}}
                            <li class="index-item event{{#if access}} {{access}}{{/if}}{{#if deprecated}} deprecated{{/if}}{{#if overwritten_from}} inherited{{/if}}{{#if extended_from}} inherited{{/if}}">
                                <a href="#event_{{name}}">{{name}}</a>

                                {{#if static}}
                                    <span class="flag static">static</span>
                                {{/if}}
                                {{#if deprecated}}
                                    <span class="flag deprecated">deprecated</span>
                                {{/if}}
                            </li>
                        {{/events}}
                    </ul>
                </div>
            {{/if}}
        </div>
    </div>
</div>
