<a name="events_{{name}}"></a>
<div class="events item">
    `{{name}}` {{#if type}}<strong>&lt;{{#crossLink type}}{{/crossLink}}&gt;</strong>{{/if}}
    {{#if extended_from}}<em>`/* Extended from {{extended_from}} */</em>`{{/if}}
    {{#if overwritten_from}}<em>`/* Overwritten from {{name}} */`</em>{{/if}}
    {{{eventDescription}}}
    {{#if params}}
    <strong>Event parameters:</strong>
    <ul>
    {{#params}}
        <li>
        {{#if optional}}
            <strong>`[{{name}}{{#if optdefault}}={{optdefault}}{{/if}}]` <font color="green"><i><strong>&lt;{{#crossLink type}}{{/crossLink}}&gt;</strong></i></font>
        {{else}}
            <strong>`{{name}}` <font color="green"><i>&lt;{{#crossLink type}}{{/crossLink}}&gt;</strong></i></font>
        {{/if}}
        {{#if multiple}}
            <abbr title="Denotes that this argument can contain (n) number">(*..n)</abbr>
        {{/if}}
        {{{description}}}
            {{#if props}}
            <ul>
            {{#props}}
                <li><strong>`{{name}}` <font color="green"><i><strong>&lt;{{#crossLink type}}{{/crossLink}}&gt;</strong></i></font> {{{description}}}
            {{/props}}
            </ul>
            {{/if}}
        </li>
    {{/params}}
    </ul>
    {{/if}}
</div>

